
<script>
    import { onMount } from "svelte";
    import TaskForm from '../TaskForm.svelte';

    // Hold data
    let KANBAN = "kanban";
    let NEW_TASK = "new_task";
    let state;
    let projects;


    onMount(async () => {
        await fetch(`http://127.0.0.1:8000/projects/`)
            .then(r => r.json())
            .then(data => {
                projects = data;
            })
            .then(console.log(projects))
            .catch((error) => {
                console.error(error);
            });
        state = KANBAN;
    })

    const setState = (new_state) => {
        state = new_state;
    }

    const submitForm = () => {
        console.log("Submitting...")
        state = KANBAN;
    }
</script>

<main>
    <p>MAINAIANMAIN</p>
    <p>projektit</p>
    
    {#if state == KANBAN}
        {#if projects}
            
            {#each projects as project }
                <h4>{project.title}</h4>
                <p>{project.description}</p>
            {/each}
        {/if}
        <button on:click={() => setState(NEW_TASK)}>Uusi taski</button>
    {:else if state == NEW_TASK}
        <TaskForm />
    {/if}
</main>

<style>

</style>