:root {
	--theme-color: #FF7D00;
	--header-bg-color: #131314;
	--header-border-color: #444442;
	--main-bg-color: #1b1b1d;
	--font-color-white: #F4F3EE;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	color: var(--font-color-white);
	background-color: var(--main-bg-color);
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a, a:visited {
	color: var(--font-color-white);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

header {
	display: flex;
	align-items: center;
	background-color: var(--header-bg-color);
	padding: 0 1em 0 1em;
	border-bottom: 1px solid var(--header-border-color);
}

/* Global components */
input {
	margin: 0 2em 0 0;
	color: var(--font-color-white);
	background-color: #2A2A2E;
	border: 1px solid var(--header-border-color);
}

/* Header and nav */
header h2 {
	margin-right: 2em;
	color: var(--theme-color)
}

header a {
	margin-right: 2em;
	color: var(--font-color-white);
} 
