
<script>

    import { Router, Link, Route } from "svelte-routing";
    import Home from "./routes/Home.svelte";
    import Projects from "./routes/Projects.svelte";
  
    export let url = "";
</script>

<Router url="{url}">
<header>
    <h2>taulu</h2>
    <input type="text" name="search" placeholder="Search or jump to..">
        <nav>
            <Link to="/">Home</Link>
            <Link to="projects">Projects</Link>
        </nav>
</header>

<div>
    <Route path="projects" component="{Projects}" />
    <Route path="/" component="{Home}" />
</div>
</Router>