<script>
    let title = '';
    let description = '';
    const submitForm = () => {    
        fetch(
            'http://127.0.0.1:8000/projects/',
            {
                method: 'POST',
                mode: 'cors',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({title, description}),
            }
        )
            .then(r => r.json())
            .then(data => {
                projects = data;
            })
            .then(console.log(projects))
            .catch((error) => {
                console.error(error);
        });
    }
</script>

<form>
    <label for="title">Title</label><br>
    <input type="text" id="title" name="title" bind:value={title}><br>

    <label for="description">Description</label><br>
    <input type="text" id="description" name="description" bind:value={description}>
</form> 
<button on:click={() => submitForm()}>Lähetä</button>


<style>

</style>